<template>
  <div id="app">
    <div class="wrapper">
      <input
        type="text"
        v-model="searchStr"
        placeholder="ВВЕДИТЕ УСЛОВИЕ ПОИСКА"
        class="ma-4"
        color="blue-grey lighten-4"
        style="
          min-width: 50%;
          width: max-content;
          text-transform: uppercase;
          padding: 1em;
        "
        @keyup.enter="searchResult"
      />

      <p style="margin-bottom: 0.5em">Ищем: {{ searchStr }}</p>
      <v-btn
        :disabled="!searchStr"
        color="green darken-1"
        style="margin: 0.5em"
        @click="searchResult"
      >
        ПОИСК
      </v-btn>
      <div>
        <span v-if="counter > 0">Число совпадений - {{ counter }}</span>
        <span v-else>Нет совпадений</span>
      </div>

      <virtual-list
        class="list"
        style="height: 360px; overflow-y: auto"
        :data-key="'id'"
        :data-sources="items"
        :data-component="item"
        :estimate-size="50"
      />
    </div>
  </div>
</template>

<script>
import ItemList from './components/ItemList'
import { generateData } from './data'
//import { RegexpSearchEngine } from './search'
import { TrieSearchEngine } from './search'

export default {
  name: 'App',
  data() {
    var items = generateData(100)
    return {
      item: ItemList,
      items: items,
      searchStr: '',
      counter: 0,
      searchEngine: new TrieSearchEngine(items),
    }
  },
  mounted() {},
  methods: {
    searchResult() {
      this.counter = this.searchEngine.countPrefix(this.searchStr)
    },
  },

  computed: {},
  watch: {},
}
</script>

<style>
#app {
  text-align: center;
  color: #2c3e50;
  margin-top: 1em;
  padding: 1em;
}

.list {
  border: 2px solid green;
  border-radius: 3px;
}
</style>
